{% extends 'base.html.twig' %}

{% block title %}AWS S3 + Symfony Demo{% endblock %}
{% block body %}
    <div class="hero is-primary">
        <div class="container">
            <h1 class="opacity-50">Symfony5 + S3 Bucket</h1>
            <h4 class="opacity-75"><code>Package</code>: <strong>chapterphp/filesystem</strong></h4>
            <code>list, download, delete, upload</code> on S3 bucket
        </div>
    </div>

    <div id="content" class="container my-2">
        <div id="upload">
            <label class="custom-file-upload">
                <input type="file" name="upload" id="input-upload" hidden/>
                <span class="iconify" data-icon="bi:plus-circle" data-inline="false"></span>
            </label>
        </div>
        <h3><span class="opacity-25">minio/test/</span></h3>
        {% if items is empty %}
            <div class="content centered-xy">
                <h5 class="emoji opacity-50">⚠️ No document found!</h5>
            </div>
        {% else %}
            <table class="content">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size (bytes)</th>
                    <th>Last Modified</th>
                    <th>Action</th>
                </tr>
                {% for fileMeta in items %}
                    <tr>
                        <td>{{ fileMeta.name }}</td>
                        <td>{{ fileMeta.extension | upper }}</td>
                        <td>{{ fileMeta.size }}</td>
                        <td>{{ fileMeta.lastModified | date("d-m-Y H:i:s") }}</td>
                        <td>
                            <a href={{ fileMeta.previewUrl }} target="__blank">
                                <span class="iconify" data-icon="bytesize:download"></span>
                            </a>
                            <a href="/#">
                                <span class="iconify delete"
                                      data-filename={{ fileMeta.name }}
                                      data-icon="fluent:delete-20-regular">
                            </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock %}
